@charset "utf-8";
html,
body {
    height: 100%;
    background: #f6f6f6;
    min-width: 1200px;
    font-size: 12px;
}

html, body,
h1,
h2,
h3,
h4,
h5,
h6,
div,
dl,
dt,
dd,
ul,
ol,
li,
p,
blockquote,
pre,
hr,
figure,
table,
caption,
th,
td,
form,
fieldset,
legend,
input,
button,
textarea,
menu {
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

b,
i,
strong,
em {
    font-style: normal;
    font-weight: normal;
}

caption{
    text-align: left;
    font-weight: normal;
}

form,
img,
input {
    border: 0;
}

ul,
li {
    list-style: none;
}

textarea {
    overflow: auto;
    resize: none;
}

label {
    cursor: default;
}

h1, h2, h3, h4, h5, h6, em, strong, b {  font-weight: bold;  }

del, ins, u, s{
    text-decoration: none;
}

body, textarea, input, button, select, keygen, legend {
    color: #333;
    outline: 0;
    font-size: 14px;
    font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "Apple LiGothic Medium", "ST Heiti", sans-serif;
}

input {
    border: none;
}

input[type=button],
input[type=submit] {
    cursor: pointer;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
    width: 0;
}

.clearfix {
    *zoom: 1;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.w1440 {
    width: 1440px;
    margin: 0 auto;
}

.w1190 {
    width: 1440px;
    margin: 0 auto;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.ft-bold {
    font-weight: bold;
}

/*顶部*/
.top {
    background: url(../../images/topbg.png) repeat-y;
    height: 90px;
    line-height: 90px;
}

.top .logo {
    float: left;
}

.top .logo img {
    display: inline-block;
    vertical-align: middle;
    max-height: 90%;
}

.top .nav {
    float: left;
    margin-left: 86px;
}

.top .nav ul {
    padding-top: 32px;
}

.top .nav ul li {
    border: 1px solid transparent;
    line-height: 24px;
    position: relative;
    padding: 0 30px;
    float: left;
    margin-bottom: 30px;
}

.top .nav ul li > a {
    font-size: 14px;
    color: #e5e8ed;
}

.top .nav ul li dl {
    display: none;
    line-height: 40px;
    width: 600px;
    position: absolute;
    top: 58px;
    left: 50%;
    margin-left: -303px;
    text-align: center;
    z-index: 9;
}

.top .nav ul li dl:before,
.top .nav ul li dl:after {
    display: block;
    content: "";
    width: 0;
    height: 0;
    visibility: visible;
    position: absolute;
    left: 50%;
    z-index: 10;
}

.top .nav ul li dl:before {
    height: 40px;
    width: 120px;
    top: -35px;
    margin-left: -56px;
    background-color: transparent;
}

.top .nav ul li dl:after {
    top: -5px;
    margin-left: -5px;
    border-bottom: 5px solid #4680fe;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}

.top .nav ul li dl dd {
    display: inline-block;
    margin: 14px 0;
    padding: 0 20px;
    line-height: 12px;
    border-left: 1px solid #a5c6f8;
}

.top .nav ul li dl dd:first-child {
    border: none;
}

.top .nav ul li dl dd a {
    font-size: 12px;
    color: #FFFFFF;
}

.top .nav ul .hover {
    background: url(../../images/xl-jt.png) no-repeat 80% center;
    padding: 0 36px 0 22px;
}

.top .nav ul .hover:hover {
    background-image: url(../../images/sq-jt.png);
}

.top .nav ul .hover:hover dl {
    display: block;
}

.top .nav ul .on {
    border: 1px solid #4680FE;
    background-color: #4680FE;
    border-radius: 30px;
}

.top .search {
    float: right;
    padding-top: 29px;
}

.top .search form {
    width: 220px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #aaaaaa;
    border-radius: 30px;
    padding: 0 19px;
}

.top .search .input {
    background-color: transparent;
    width: 200px;
    height: 30px;
    vertical-align: top;
    font-size: 14px;
    color: #FFFFFF;
}

.top .search .submit {
    background: url(../../images/search-ico.png) no-repeat center center;
    height: 16px;
    width: 16px;
    margin: 7px 0;
}

/*正文通用的css*/
.content {
    padding: 10px 0 30px 0;
}

.content .w1190 {
    background-color: #FFFFFF;
    min-height: 714px;
}

.content .right {
    padding: 60px 50px 0 50px;
    border-left: 1px solid #f1f1f1;
    width: 865px;
    min-height: 654px;
}

/*tab切换的菜单*/
.tab-title {
    width: 222px;
}

.tab-title h4 {
    margin-top: 22px;
    padding-left: 20px;
    border-left: 2px solid #ff9d40;
    line-height: 34px;
    font-size: 16px;
    color: #333;
    margin-left: -2px;
    font-weight: normal;
}

.tab-title ul {
    margin-top: 15px;
    padding: 0 11px;
}

.tab-title ul li {
    cursor: pointer;
    padding-left: 10px;
    line-height: 41px;
    border-bottom: 1px dashed #e2e2e2;
    font-size: 14px;
}

.tab-title ul .on {
    width: 199px;
    background: url(../../images/sub-menubg.png) repeat-y left center;
    line-height: 42px;
    border-bottom: none;
    margin-left: -16px;
    padding-left: 25px;
}

.list-title {
    font-size: 20px;
    color: #333333;
    line-height: 20px;
    padding: 0 0 20px 0;
}

/*QA搜索框*/
.qa-search form {
    overflow: hidden;
}

.qa-search form input {
    float: left;
}

.qa-search form .text {
    border: 1px solid #E2E2E2;
    line-height: 24px;
    padding: 5px 20px;
    width: 290px;
    height: 24px;
}

.qa-search form .submit {
    width: 90px;
    height: 36px;
    background-color: #4680FE;
    color: #FFFFFF;
    font-size: 14px;
}

/*按钮*/
.download-btn {
    height: 30px;
    border-radius: 30px;
    background: url(../../images/btn-bg.png) no-repeat center center transparent;
}

.download-btn a {
    display: block;
    color: #666666;
    line-height: 30px;
    text-align: center;
}

.download-btn a span,
.download-btn a i {
    display: inline-block;
    vertical-align: top;
}

.download-btn a i {
    margin-right: 5px;
    vertical-align: -5px;
    width: 20px;
    height: 20px;
    background: url(../../images/download-ico.png) no-repeat center center;
}

.download-btn:hover {
    background-image: url(../../images/btn-bg1.png);
    box-shadow: 0px 7px 18px rgba(114, 167, 255, 0.72);
}

.download-btn:hover a {
    color: #FFFFFF;
}

.download-btn:hover a i {
    background-image: url(../../images/download-ico1.png);
}

.blue120 {
    width: 120px;
}

.blue170 {
    width: 170px;
    background-image: url(../../images/btn-xz.png);
}

.blue170:hover {
    background-image: url(../../images/btn-xz1.png);
}

.orange120 {
    width: 120px;
    background-image: url(../../images/btn-lt.png);
}

.orange120 a i {
    background-image: url(../../images/lt-ico.png);
}

.orange120:hover {
    box-shadow: 0px 7px 18px rgba(255, 145, 145, 0.45);
    background-image: url(../../images/btn-lt1.png);
}

.orange120:hover a i {
    background-image: url(../../images/lt-ico1.png);
}

/*文字标题*/
.wz-title {
    margin-top: 20px;
    position: relative;
    width: 100%;
}

.wz-title div {
    position: relative;
}

.wz-title .wz {
    z-index: 1;
    background-color: #FFFFFF;
    float: left;
    padding: 0 16px;
    height: 16px;
    border-right: 1px solid #eeeeee;
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    border-left: 3px solid #4680fe;
}

.wz-title .wz p {
    font-size: 20px;
    color: #333333;
    margin-top: -10px;
    line-height: 20px;
    padding: 0 5px;
    background-color: #FFFFFF;
}

.wz-title .wz:after {
    width: 30px;
    height: 16px;
    background-color: #FFFFFF;
    content: "";
    display: block;
    position: absolute;
    right: -31px;
    top: 0;
}

.wz-title .line {
    top: 7px;
    height: 1px;
    background-color: #EEEEEE;
    width: 100%;
}

/*展开收缩*/
.switch {
    position: relative;
}

.switch .switch-title {
    overflow: hidden;
    line-height: 16px;
    height: 16px;
    font-size: 16px;
    color: #333333;
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 10px;
    margin: 30px 0 20px 0;
}

.switch .switch-title a {
    display: block;
    color: #333333;
    float: left;
    padding-left: 22px;
    background: url(../../images/down-sq.png) no-repeat left center;
}

.switch .btn {
    cursor: pointer;
    display: block;
    background: url(../../images/QA-sh-ico.png) no-repeat center center;
    width: 9px;
    height: 9px;
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.switch.on .switch-title a {
    background-image: url(../../images/down-zk.png);
}

/*分页样式*/
.paging {
    margin: 0 auto;
    text-align: center;
    padding: 30px 0;
}

.paging div {
    text-align: center;
    overflow: hidden;
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: top;
}

.paging a {
    vertical-align: top;
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 12px;
    line-height: 30px;
    color: #919191;
    margin: 0 5px 0 0;
    border: 1px solid #BFBFBF;
    background-color: #fff;
    text-transform: uppercase;
}

.paging a:hover {
    color: #008eff;
    background-color: #fff;
    border-color: #008eff;
}

.paging input,
.paging button {
    vertical-align: top;
    height: 30px;
    width: 50px;
    background-color: #fff;
    border: 1px solid #BFBFBF;
    margin: 0 12px 0 0;
    padding: 0 5px;
    cursor: pointer;
}

.paging span {
    display: inline-block;
    vertical-align: top;
    padding: 0 12px 0 0;
    font-size: 12px;
    color: #919191;
    height: 36px;
    line-height: 36px;
}

.paging .jp-current,
.paging .sure {
    color: #FFFFFF;
    background-color: #4680FE;
    border-color: #4680FE;
}

.paging .jp-current:hover {
    color: #FFFFFF;
    background-color: #4680FE;
    border-color: #4680FE;
}

.paging .sure {
    width: auto;
    padding: 0 12px;
}

.paging .sure:hover {
    background-color: #4680FE;
    color: #FFFFFF;
}

.paging .jp-first,
.paging .jp-previous,
.paging .jp-next,
.paging .jp-last {
    width: auto;
    padding: 0 12px;
}

.paging .jp-disabled {
    color: #E2E2E2;
    border-color: #E5E8ED;
}

.paging .jp-disabled:hover {
    color: #E2E2E2;
    border-color: #E5E8ED;
}

.paging .jp-current,
.paging .jp-disabled {
    cursor: default;
}

.paging .jp-current:hover,
.paging .jp-disabled:hover {
    cursor: default;
}

/*增加间距的类*/
.pt10 {
    padding-top: 10px;
}

.pt20 {
    padding-top: 20px;
}

.pt30 {
    padding-top: 30px;
}

.pt40 {
    padding-top: 40px;
}

.pb10 {
    padding-bottom: 10px;
}

.pb20 {
    padding-bottom: 20px;
}

.pb30 {
    padding-bottom: 30px;
}

.pb40 {
    padding-bottom: 40px;
}

.pl10 {
    padding-left: 10px;
}

.pl20 {
    padding-left: 20px;
}

.pl30 {
    padding-left: 30px;
}

.pl40 {
    padding-left: 40px;
}

.pr10 {
    padding-right: 10px;
}

.pr20 {
    padding-right: 20px;
}

.pr30 {
    padding-right: 30px;
}

.pr40 {
    padding-right: 40px;
}

.mt10 {
    margin-top: 10px;
}

.mt20 {
    margin-top: 20px;
}

.mt30 {
    margin-top: 30px;
}

.mt40 {
    margin-top: 40px;
}

.mb10 {
    margin-bottom: 10px;
}

.mb20 {
    padding-bottom: 20px;
}

.mb30 {
    margin-bottom: 30px;
}

.mb40 {
    margin-bottom: 40px;
}

.ml10 {
    margin-left: 10px;
}

.ml20 {
    margin-left: 20px;
}

.ml30 {
    margin-left: 30px;
}

.ml40 {
    margin-left: 40px;
}

.mr10 {
    margin-right: 10px;
}

.mr20 {
    margin-right: 20px;
}

.mr30 {
    margin-right: 30px;
}

.mr40 {
    margin-right: 40px;
}

/*正在加载*/
.loading {
    display: none;
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 100%;
}

.loading .loading-bg {
    background-color: #000;
    opacity: 0.2;
    filter: alpha(opacity=20);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 11;
}

.loading .loading-img {
    width: 32px;
    height: 32px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -16px 0 0 -16px;
    z-index: 12;
    background: url(../../images/loading.gif) no-repeat center center;
}

/*右侧导航*/
.right-nav {
    position: fixed;
    z-index: 99;
    right: 75px;
    top: 170px;
}

.right-nav ul {
    padding: 20px 0;
    position: relative;
    border-left: 1px solid #dadada;
}

.right-nav ul:after {
    background: url(../../images/fd-yq.png) no-repeat center center;
    content: "";
    width: 8px;
    height: 8px;
    display: block;
    position: absolute;
    top: -9px;
    left: -5px;
}

.right-nav ul li {
    width: 100px;
    height: 26px;
    line-height: 26px;
    margin-left: -17px;
    margin-bottom: 4px;
}

.right-nav ul li a {
    display: block;
    padding-left: 35px;
    color: #999999;
    background-image: url(../../images/fd-yq1.png);
    background-position: 12px center;
    background-repeat: no-repeat;
}

.right-nav ul .on {
    background: url(../../images/fd-bj.png);
}

.right-nav ul .on a {
    background-image: url(../../images/fd-jt.png);
    color: #333333;
}

.right-nav .back-top {
    width: 20px;
    height: 20px;
    cursor: pointer;
    background: url(../../images/back-top.png) no-repeat center center;
    margin-left: -9px;
    margin-top: 2px;
}

/*复制按钮*/
.copy-btn {
    border: 1px solid #E2E2E2;
    width: 44px;
    height: 22px;
    font-size: 14px;
    color: #666666;
    line-height: 22px;
    padding: 0 0 0 40px;
    background-image: url(../../images/copy-btn-icon.png);
    background-repeat: no-repeat;
    background-color: #FFFFFF;
    background-position: 18px center;
    border-radius: 30px;
    margin: 6px;
    cursor: pointer;
}

.copy-btn:hover {
    border-color: #4680FE;
    color: #4680FE;
    background-image: url(../../images/copy-btn-icon1.png);
    background-position: 18px 3px;
}

.copy-btn-selected {
    border-color: #4680FE;
    padding: 0 0 0 30px;
    width: 54px;
    background-image: url(../../images/copy-btn-icon2.png);
    background-position: 10px center;
    background-color: #4680FE;
    color: #FFFFFF;
}

.copy-btn-selected:hover {
    padding: 0 0 0 30px;
    width: 54px;
    background-image: url(../../images/copy-btn-icon2.png);
    background-position: 10px center;
    background-color: #4680FE;
    color: #FFFFFF;
}

.directory {
    padding: 0 0 80px 0;
    font-size: 14px;
    line-height: 30px;
}

.directory .link {
    margin-bottom: 10px;
    overflow: hidden;
    color: #333333;
    line-height: 32px;
}

.directory .link span,
.directory .link a {
    display: inline-block;
    vertical-align: top;
}

.directory .link span {
    padding: 0 4px 0 0;
    text-align: center;
    width: 144px;
    height: 32px;
    background: url(../../images/link-bg.png) no-repeat center center;
}

.directory .link a {
    color: #4680fe;
    margin-left: 10px;
}

.directory .link1 span {
    background-image: url(../../images/ml-wgbg.png);
    width: 92px;
}

.directory .img img {
    max-width: 100%;
}

.directory h5 {
    font-size: 18px;
    font-weight: bold;
    color: #333333;
    line-height: 26px;
    height: 26px;
}

.directory .switch .switch-title {
    font-size: 18px;
    font-weight: bold;
    line-height: 26px;
    height: 26px;
    border-bottom: none;
}

.directory .switch .switch-title a {
    padding-left: 0;
    padding-right: 25px;
    background: url(../../images/mljt-ico.png) no-repeat right center;
}

.directory .switch .switch-title .on {
    background-image: url(../../images/mljt-ico1.png);
}

.directory .jj,
.directory .wg,
.directory .jhlc,
.directory .txms,
.directory .xxsm {
    padding: 40px 10px 30px 30px;
}

.directory .jj .img {
    margin-left: -11px;
}

.directory .glgs ul {
    padding: 40px 0 20px 30px;
}

.directory .glgs ul li {
    padding-left: 15px;
    line-height: 20px;
    background: url(../../images/glgs-bg01.png) no-repeat left center;
    margin-bottom: 20px;
}

.directory .bank-bm ul {
    overflow: hidden;
}

.directory .bank-bm ul li {
    margin-bottom: 16px;
    float: left;
    margin-left: 16px;
    width: 154px;
    height: 154px;
    border: 3px solid #F1F1F1;
    border-radius: 20px;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    color: #333333;
    line-height: 18px;
}

.directory .bank-bm ul li .img {
    padding-top: 12px;
}

.directory .bank-bm ul li .img img {
    width: 64px;
    height: 64px;
}

.directory .bank-bm ul li .d1 {
    height: 36px;
    line-height: 36px;
}

.directory .bank-bm ul li .d1 span {
    display: inline-block;
    vertical-align: middle;
    line-height: 18px;
    max-width: 154px;
}

.directory .bank-bm ul li .d2 {
    margin: 0 10px;
    border-bottom: 1px dashed #E2E2E2;
    height: 0;
}

.directory .bank-bm ul li .d3 {
    padding: 0 0 4px 0;
    line-height: 36px;
    height: 36px;
}

.directory .bank-bm ul li .d3 span {
    display: inline-block;
    vertical-align: middle;
    line-height: 18px;
    color: #4680fe;
}

.directory .bank-bm ul .ml {
    margin-left: 0;
}

.directory .txms {
    padding: 40px 0 30px 30px;
}

.directory .txms table {
    border-top: 1px solid #e2e2e2;
    border-bottom: 1px solid #E2E2E2;
    width: 100%;
    border-left: none;
    border-right: none;
    font-size: 14px;
}

.directory .txms table tr {
    border: none;
}

.directory .txms table tr:first-child td {
    padding: 25px 0 15px 18px;
}

.directory .txms table tr:first-child td:first-child {
    padding: 25px 0 15px 0;
}

.directory .txms table tr:last-child td {
    padding: 0 0 25px 18px;
}

.directory .txms table tr:last-child td:first-child {
    padding: 0 0 25px 0;
}

.directory .txms table td {
    vertical-align: top;
    border: none;
    border-left: 1px solid #E2E2E2;
    padding: 0 0 15px 18px;
    line-height: 24px;
}

.directory .txms table td:first-child {
    border-left: none;
    background-color: #f9f9f9;
    text-align: center;
    min-width: 125px;
    font-weight: bold;
    padding: 0 0 15px 0;
}
