.tab-title ul li {
  padding-left: 0;
  border: none;
  cursor: default;
}
.tab-title ul li div {
  cursor: pointer;
  line-height: 42px;
  border-bottom: 1px dashed #E2E2E2;
  font-size: 14px;
  padding-left: 25px;
  background: url(../../images/qa-jt2.png) no-repeat 9px center;
}
.tab-title ul li dl {
  display: none;
  padding: 12px 0 12px 30px;
  border-bottom: 1px dashed #E2E2E2;
}
.tab-title ul li dl dd {
  cursor: pointer;
  line-height: 22px;
  padding-left: 12px;
  border-left: 1px dashed #E2E2E2;
  margin-bottom: 5px;
  position: relative;
  z-index: 2;
}
.tab-title ul li dl dd:before,
.tab-title ul li dl dd:after {
  display: block;
  position: absolute;
  content: "";
  z-index: 10;
  background-position: center;
  background-repeat: no-repeat;
}
.tab-title ul li dl dd:after {
  background-image: url(../../images/QA-list-yd.png);
  width: 8px;
  height: 8px;
  top: 50%;
  left: -5px;
  margin-top: -4px;
}
.tab-title ul li dl dd:before {
  width: 224px;
  height: 22px;
  z-index: -1;
  right: -7px;
  top: 0;
}
.tab-title ul li dl .active01:before {
  background-image: url(../../images/QA-SUNMENUBG.png);
}
.tab-title ul li dl .active01:after {
  background-image: url(../../images/QA-list-yd1.png);
}
.tab-title ul .active div {
  background-image: url(../../images/qa-jt1.png);
  font-weight: bold;
}
.list-title {
  font-size: 24px;
  line-height: 36px;
  padding: 0 0 30px 0;
}
.switch .switch-title {
  margin: 0;
  padding: 0;
  border: none;
  height: auto;
  line-height: 34px;
  padding-top: 1px;
}
.switch .switch-title a {
  background-image: url(../../images/qa-q-ico.png);
  font-size: 14px;
  padding-left: 28px;
}
.switch .switch-content {
  display: none;
  margin-bottom: 30px;
}
.switch .switch-content .text {
  line-height: 20px;
  padding-left: 28px;
  background: url(../../images/qa-a-ico.png) no-repeat left 1px;
}
.switch.on {
  background-color: #f9f9f9;
}
.switch.on .fl {
  margin-top: 20px;
}
.switch.on .switch-title {
  margin-top: 20px;
}
.switch.on .switch-title a {
  font-weight: bold;
  background-image: url(../../images/qa-q1-ico.png);
}
.wt-title {
  line-height: 30px;
  border-bottom: 1px solid #E2E2E2;
  font-size: 14px;
  color: #999999;
}
.wt-title > div {
  width: 766px;
  padding: 0 0 0 20px;
  border-left: 1px solid #E2E2E2;
}
.wt-title > div:first-child {
  width: 78px;
  border: none;
  padding: 0;
  text-align: center;
  font-size: 14px;
}
.wt-title > div span i {
  margin-left: 16px;
  font-size: 12px;
}
.wt-list li {
  line-height: 35px;
  border-bottom: 1px dashed #E2E2E2;
}
.wt-list li > div {
  width: 746px;
  padding: 0 20px;
  border-left: 1px solid #E2E2E2;
}
.wt-list li > div:first-child {
  width: 78px;
  border: none;
  padding: 0;
  text-align: center;
  font-size: 14px;
}
