.resource {
  padding-bottom: 80px;
}
.tool {
  line-height: 24px;
}
.tool table {
  width: 100%;
  border: none;
}
.tool .table1 {
  border: 1px solid #eeeeee;
}
.tool .table1 tr {
  border-bottom: 1px solid #EEEEEE;
}
.tool .table1 tr th,
.tool .table1 tr td {
  padding-left: 20px;
  border: none;
}
.tool .table1 tr th {
  line-height: 30px;
  font-weight: bold;
  padding-left: 20px;
  background-color: #f2f2f2;
}
.tool .table1 tr td {
  line-height: 34px;
}
.tool .table1 tr td a {
  color: #4680FE;
  padding-left: 20px;
  background: url(../../images/down-ico1.png) no-repeat left center;
}
.tool .table2 {
  border: none;
}
.tool .table2 tr {
  border: none;
}
.tool .table2 tr:first-child td {
  padding-top: 12px;
}
.tool .table2 tr:first-child td:first-child:after {
  margin-top: 0.5px;
}
.tool .table2 tr:last-child td {
  padding-bottom: 12px;
}
.tool .table2 tr:last-child td:first-child:after {
  margin-top: -11.5px;
}
.tool .table2 tr td {
  padding-left: 20px;
  line-height: 32px;
  color: #333333;
  border: none;
}
.tool .table2 tr td:first-child {
  color: #999999;
  background-color: #f9f9f9;
  text-align: center;
  padding-left: 0;
  width: 92px;
  position: relative;
  border-left: 1px solid #E2E2E2;
}
.tool .table2 tr td:first-child:after {
  background: url(../../images/fd-yd.png) no-repeat center center;
  width: 9px;
  height: 9px;
  display: block;
  content: "";
  position: absolute;
  left: -5px;
  top: 50%;
  margin-top: -4.5px;
}
.tool .tj {
  color: #cdcdcd;
}
